:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
}

.box {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
        
    /*Diseño opcional*/
    border: #ACD9B2 2px solid;
    padding: 4rem;
    border-radius: 25px;
}

.email-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
    
    /*Diseño opcional*/
    border: #ACD9B2 2px solid;
    padding: 4rem;
    border-radius: 25px;
}

.logo {
    width: 100px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.email-image {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: var(--text-input-field);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.email-image img {
    width: 80px;
}

.tittle {
    font-size: var(--lg);
    margin-bottom: 36px;
    text-align: center;
}

.subtitle {
    font-size: var(--md);
    color: var(--very-light-pink);
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 32px;
}

.resend {
    font-size: var(--sm);
}

.resend span {
    color: var(--very-light-pink);
}

.resend a {
    color: var(--hospital-green);
    text-decoration: none;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.value {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin: 8px 0 32px 0;
}

.input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 8px;
    background-color: var(--text-input-field);
    padding: 6px;
    margin-bottom: 16px;
    font-size: var(--sm);
}

.input-email, .input-name, .input-password {
    margin-bottom: 22px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form a {
    color: var(--hospital-green);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 54px;
}

.primary-button {
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 8px;
    background-color: var(--hospital-green);
    color: var(--white);
    font-size: var(--md);
    font-weight: bold;
    cursor: pointer;
    margin-top: 8px;
}

.secundary-button {
    width: 100%;
    height: 36px;
    border: 1px solid var(--hospital-green);
    border-radius: 8px;
    background-color: var(--white);
    color: var(--hospital-green);
    font-size: var(--md);
    font-weight: bold;
    cursor: pointer;
    margin-top: 8px;
}

.secundary-button:hover {
    background-color: var(--hospital-green);
    color: var(--white);
}

.login-button {
    margin-top: 14px;
    margin-bottom: 30px;

}

@media (max-width: 640px) {
    .logo {
        display: block;
    }
}